<html lang="en">

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header id="site-header">
    <div class=container>
      <nav class= "header-nav">
        <a href="/">Home</a>
      </nav>
      <h1>Movies</h1>
    </div>
  </header>
  <div class=container>

    {{{body}}}

  </div>
  <footer id="site-footer">
    <div class=container>
      &copy Miriam 2018
    </div>
  </footer>
</body>

</html>