<div class='container'>
  <h1>{{movie.name}}</h1>
  <h1>{{movie.year}}</h1>
  <a href="/"><button>Back</button></a>
  <form method="POST" action="{{movie._id}}/delete">
    <button>Delete</button>
  </form>
</div>