<div class="container">
  <h1>CREATE MOVIE</h1>

  <form method="POST" action="/movies">

    <div class="field">
      <label>Name</label>
      <input type="text" name="name" />
    </div>

    <div class="field">
      <label>Year</label>
      <input type="number" name="year" />
    </div>

    <div class="field submit">
      <button type="submit">Save</button>
    </div>

  </form>

  {{!-- <div class="field submit">
    <a href="/director/add">
      <button type="submit">Add director</button>
    </a>
  </div> --}}

</div>